$dark-color: #171332;
$dark-green-color: #2a5d67;
$white-color: #eeeeee;
$light-green-color: #4ae3b5;

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $dark-color;
    background-color: $white-color;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 3em);
    padding: 1.5em;
    background-color: $dark-color;
    border-bottom: 10px solid $light-green-color;

    
    .logo {
        font-size: 1.2rem;
        font-weight: bold;
        color: $white-color;
        text-transform: uppercase;
        width: 50%;
    }
    
    nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        li {
            list-style: none;

            a {
                text-decoration: none;
            }

            a i {
                padding: 0 .5em;
                font-size: 1.8em;
                color: $white-color;
            }

            a i:hover {
                color: $light-green-color;
            }
        }
    }
}

main {
    width: 100%;
    text-align: center;
    
    section {
        width: 80%;
        margin: 0 auto;
        padding: 2em 1em;
    }

    .about, .projects {
        border-bottom: 1px solid $light-green-color;
    
        .profile-img {
            height: 300px;
            border-radius: 20px;
            margin: 0 auto;
        }

        .about-info p {
            font-size: 1em;
            line-height: 1.3em;
        }

        .about-info a {
            background-color: $dark-green-color;
            border: 2px solid $dark-color;
            border-radius: 10px;
            color: $white-color;
            display: inline-block;
            font-size: 0.9em;
            padding: 0.75em 1em;
            text-decoration: none;
        }

        .about-info a:hover {
            background-color: #518893;
        }
    }

    .project-wrapper {
        border: 1px solid $dark-color;
        border-radius: 5px;
        margin-bottom: 1em;
        
        .project-img {
            background-color: #ffffff;
            border-radius: 5px 5px 0 0;
            padding-top: 1em;

            img {
                margin: 1em;
                max-height: 120px;
                max-width: 270px;
            }
        }

        .project-content {
            background-color: $dark-green-color;
            color: $white-color;
            padding: 1em;

            h3 {
                margin: 0;
                letter-spacing: 0.15em;
                text-transform: uppercase;
            }

            p {
                line-height: 1.3em;
            }    
        }

        .project-btns {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $dark-green-color;
            padding-bottom: 1em;
                    
            a {
                background-color: $light-green-color;
                border: 2px solid #95e4cd;
                border-radius: 10px;
                color: $dark-color;
                margin-bottom: 10px;
                padding: 0.6em;
                text-decoration: none;
            }
        
            a:hover {
                background-color: #95e4cd;
                font-weight: bold;
            }
        }
    }

    .contact p {
        margin-bottom: 1em;
    }

    .contact a {
        background-color: $dark-color;
        border: 2px solid #555074;
        border-radius: 10px;
        color: $white-color;
        font-weight: bold;
        display: inline-block;
        padding: 0.8em 1.5em;
        text-decoration: none;
    }

    .contact a:hover {
        background-color: #555074;
        color: $light-green-color;
    }
}

footer {
    background-color: $dark-color;
    border-top: 10px solid $light-green-color;
    color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
    width: calc(100% - 5em);
}

/*-- Responsiveness --*/
/* min width 768px */
@media only screen and (min-width: 768px) {
    html {
        font-size: 18px;

        .about-info {
            margin: 0 auto;
            max-width: 620px;
        }

        .project-wrapper {
            margin: 0 auto 1em;
            max-width: 500px;
        }
    }
}

/* min width 992px */
@media only screen and (min-width: 992px) {
    html {
        font-size: 20px;
    }

    .about {
        display: flex;

        .about-img {
            margin-top: 1.8em;
            margin-right: 2em;

            .profile-img {
                height: 400px;
            }
        }
    }

    .projects {
        display: grid;
        grid-template-areas: 
            "title title"
            "pro1 pro2"
            "pro3 pro4";
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        h2 {
            grid-area: title;
        }

        #pro1 {
            grid-area: pro1;
        }

        #pro2 {
            grid-area: pro2;
        }
        
        #pro3 {
            grid-area: pro3;
        }
        
        #pro4 {
            grid-area: pro4;
        }

        .project-img img {
            width: 350px;
        }

        .project-content {
            height: 200px;
        }
    }
}

/* min width 1200px */
@media only screen and (min-width: 1200px) {
    section {
        max-width: 960px;
    }
}

/* min width 1789px */
@media only screen and (min-width: 1920px) {
    body {
        margin: 0 auto;
        max-width: 1920px;
    }
}